.container-fluid{
    display: flex;
    width: 200px;
    background-color: rgb(19, 19, 139);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .side {
    flex: 1;
    padding: 15px;
    color:azure;
    margin-right:10px
  }
  div.reorder-four-outline{
    margin:3px;
  }
  
  .d-flex justify-content-end {
    display: flex;
    align-items: end
    }
    .mt-3{
      color:white;
    }
    .side side-content-left {
      margin-left:50%;
    }
    .square-outline{
    color:white;

    }
    .first{
      margin-right:1000px;
      color:darkgrey;
    }
    .row{
      align-items:center;
    }
    
  
    

  


  
  

    
  
  
      

    